.navbar {
  .navbar-brand {
    margin-top: -0.6rem;
    margin-left: 1rem;
    margin-bottom: -2rem;
  }
  // @media (min-width: nth($grid-breakpoints, 2)) {
  //   .signup {
  //     display: none;
  //   }
  // }
}
