@import '../../scss/variables';

.navbar {
  .navbar-brand {
    margin-top: -0.6rem;
    margin-left: 1rem;
    margin-bottom: -2rem;
  }
  .navbar-brand img {
    max-height: 3rem;
  }
  @media screen and (max-width: 500px) {
    .signup {
      display: none;
    }
  }
}

// @media (min-width: nth($grid-breakpoints, 3)) {
//   .navbar {
//     background-color: $brand-primary;
//   }
// }
