@import '../../scss/variables';

.navbar {
  .navbar-brand {
    margin-top: -0.6rem;
    margin-left: 1rem;
    margin-bottom: -2rem;
  }
  @media (max-width: nth($grid-breakpoints, 3)) {
    .signup {
      display: none;
    }
  }
}
